.wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.row{
    width: 100%;
    margin: 2% 0 0;
    border: 1px solid black;
    background-color: rgb(183, 183, 183);
    display: flex;
    justify-content: space-between;
}

/**/

.row__item{
    width: 15%;
    border: 1px solid black;
    margin: 1%;
    height: 40px;
    background-color: rgb(105, 105, 105);
}

.row__item--head{
    width: 100%;
    border: 1px solid black;
    margin: 1% 0 4%;
}

.row--head{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin: 2% 0 0;
    clear: f;
}

.row--head::after {
    content: "";
    clear: both;
    display: table;
  }

.row--r{
    display: flex;
    justify-content: right;
}

.row--r::after {
    content: "";
    clear: both;
    display: table;
  }

.item{
    width: 15%;
    margin: 1%;
}

.item--row{
    width: 53%;
    margin: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row__item--block{
    width: 33%;
}

.item--block{
    width: 31%;
    margin: 1% 0 1%;
    display: flex;
}

.row__item--step{
    width: 50%;
    margin: 0 2% 0;
}